@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
nav {
	display: flex;
	flex-direction: row;
	background-color: #1a242f;
	color: #fff;
	padding: 0.7% 2%;
	align-items: center;
}
nav ul {
	display: flex;
	flex-direction: row;
}
nav ul li {
	list-style: none;
	margin: 0 1.5%;
	font-size: 1.08em;
	letter-spacing: 0.05em;
	line-height: 0.7em;
	color: rgba(255, 255, 255, 0.815);
}
.nav-logo {
	position: relative;
	height: 9%;
	width: 9%;
	margin-top: 0.5%;
}
.nav-logo-link {
	display: contents;
}
.nav-right {
	position: absolute;
	right: 2%;
	/* width: 25%; */
}
.nav-left {
	align-items: stretch;
	width: 50%;
}
.nav-link {
	color: rgba(255, 255, 255, 0.815);
	text-decoration: none;
}
.nav-link:hover {
	cursor: pointer;
}
.current-link {
	/* text-decoration: underline; */
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid white;
}
#categories:hover {
	cursor: pointer;
	color: #fff;
}
#categories i {
	color: rgba(255, 255, 255, 0.37);
	padding-left: 10px;
	font-size: 0.7em;
}
.search-container {
	border: 1px solid rgba(255, 255, 255, 0.37);
	display: flex;
	align-items: center;
	/* padding: 1%; */
	/* margin: -1% 1%; */
}
.search-input {
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 0.37);
	cursor: pointer;
	font-size: 1em;
}

.search-input:focus {
	border: none;
	background-color: #1a242f;
}
.search-container:hover {
	cursor: pointer;
}
